server:
  port: 8081
spring:
  jackson:
    time-zone: Europe/Istanbul
    date-format: yyyy-MM-dd HH:mm:ss
    serialization:
      write-dates-as-timestamps: false
  application:
    name: Vestoria

  datasource:
    url: jdbc:postgresql://localhost:5432/vestoria
    username: postgres
    password: testere1500
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration-ms: 86400000
